<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page </title>
    <!-- We're going to have to link our js here later -->
    <script scr="js/index.js"></script>
    
    <!-- Link Our CSS here -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="masthead">
        <h1> ChatApp!</h1>
    </header>
<main class="main">
    <div class="Logoimage">
        <!--Probalby add the image of chat app logo-->
    </div>
    <div class="user-input">
        <input type="text" id="user-id" placeholder="username">
        <button id="user-button">Enter</button>
    </div>

</main>
<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
</body>
</html>