<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page </title>
    <!-- We're going to have to link our js here later -->
    <script scr="js/index.js"></script>
    <!-- Link Our CSS here -->
</head>
<body>
<header class="masthead">
        <h1> BattleShip!</h1>
    </header>
<main class="main">
    <div class="homepageimage">
        <!--Probalby add the image of a our game here-->
    </div>

    <div class="spbarea">
        <p> Please Choose a game option: </p>
         <button id="spb">Single Player!</button>
    </div>
    <div class="mparea">     
            <a href="/lobby"><button id="mp"> Multiplayer!</button></a>

    </div>
</main>

</body>
</html>