<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page </title>
    <!-- We're going to have to link our js here later -->
    <script scr="js/index.js"></script>
    
    <!-- Link Our CSS here -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="masthead">
        <h1> BattleShip!</h1>
    </header>
<main class="main">
    <div class="homepageimage">
        <!--Probalby add the image of a our game here-->
    </div>
    <div class="user-input">
        <input type="text" id="user-id" placeholder="username">
        <button id="user-button">Enter</button>
    </div>
    <div class="spbarea">
         <button id="spb" style= "display: none" ;>Single Player!</button>
    </div><br>
    <div class="mparea">     
            <a href="/roomlist"><button id="mp" style= "display: none"> Multiplayer!</button></a>

    </div>
</main>
<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
</body>
</html>