<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Type here.</h2>
    <div class="input-message">
        <textarea name="message" id="from" cols="30" rows="10"></textarea><br>
        <button id="send">Send</button>
    </div>
    <div class="output-message">
        <p>Message shown here.</p>
        <p id="output"></p>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/lobby.js"></script>
</body>
</html>